<%-include('../partial/header')-%>

<main class="main">
    <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Pages</a></li>
                <li class="breadcrumb-item active" aria-current="page">Contact us</li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->
    <div class="container">
        <div class="page-header page-header-big text-center" style="background-image: url('/profileimages/small\ banner.jpg')">
            <h1  class="page-title text-dark">Contact us<span class="text-dark">keep in touch with us</span><span class="text-dark">tenmillions@gmail.com</span></h1>
        </div><!-- End .page-header -->
    </div><!-- End .container -->

    
</main><!-- End .main -->

<%-include('../partial/footer')-%>