<%-include('../partial/header')-%>
  
<!-- breadcrumb start -->
			<nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
				<div class="container">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="/">Home</a></li>
						<li class="breadcrumb-item " aria-current="page"><a href="/login">Login</a></li>
						<li class="breadcrumb-item active" aria-current="page">Forget Password</li>
					</ol>
				</div>
			</nav>
<!-- breadcrumb End -->

<!-- LOgin page start -->
            <div class="login-page bg-image pt-8 pb-8 pt-md-12 pb-md-12 pt-lg-17 pb-lg-17" style="background-image: url('assets/images/backgrounds/login-bg.jpg')">
            	<div class="container">
            		<div class="form-box">
            			<div class="form-tab">
	            			<ul class="nav nav-pills nav-fill" role="tablist">
							   
							    <li class="nav-item">
							        <a class="nav-link active font-weight-bold" id="signin-tab-2"  href="#signin-2"  aria-controls="signin-2" aria-selected="true ">Enter new password</a>
							    </li>
							</ul>
							<div class="tab-content">
							    
							    <div class="tab-pane fade show active" id="signin-2" role="tabpanel" aria-labelledby="signin-tab-2">
							    	<form onsubmit="return validate()" action="UserPasswordChanged" method="post">
							    		<div class="form-group">
							    			<label for="loginEmailOtp">Password *</label>
							    			<input type="text" class="form-control" id="signupPassword" name="password" required>
											<label style="display: none;" id="password-error"></label>
											
											<label for="loginEmailOtp">Confirm Password *</label>
							    			<input type="text" class="form-control" id="signupCPassword" name="cpassword" required>
							    			<span id="message"></span>
										
										</div>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <input type="submit" value="SEND" class="btn btn-outline-success col-sm-12">
                                                </div>
                                            </div>
							    	</form> 
							    	
							    </div><!-- .End .tab-pane -->
							</div><!-- End .tab-content -->
						</div><!-- End .form-tab -->
            		</div><!-- End .form-box -->
            	</div><!-- End .container -->
            </div><!-- End .login-page section-bg -->
			<script>
				function checkPassword() {
					let password = document.getElementById("signupPassword").value;
					let confirmPassword = document.getElementById("signupCPassword").value;
					console.log("Password:", password, "\n", "Confirm Password:", confirmPassword);
					let message = document.getElementById("message");
			
					if (password.length !== 0) {
						if (password === confirmPassword) {
							return true; // Allow form submission
						} else {
							message.style.display = ''
							message.textContent = "Passwords don't match";
							message.style.color = "#ff4d4d";
							return false; // Prevent form submission
						}
					} else {
						message.textContent = "Password can't be empty!";
						message.style.color = "#ff4d4d";
						return false; // Prevent form submission
					}
				}
				function validate() {
			 
			 
			  var password = document.getElementById("signupPassword").value.trim();
			  var confirmPassword = document.getElementById("signupCPassword").value.trim();
			
			  let passwordError = document.getElementById("password-error");
			
			 
			  if (password.length < 6) {
				passwordError.style.display = '';
				passwordError.textContent = "Password should be at least 6 characters!";
				passwordError.style.color = "#ff4d4d";
				return false;
			  } else {
				passwordError.style.display = 'none';
			  }
			
			  return checkPassword();
			}
			
			
			</script>
        <%-include('../partial/footer')-%>