<%-include('../partial/header')-%>

	<main class="main">
		<div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
			<div class="container">
				<h1 class="page-title">My Account<span>Shop</span></h1>
			</div><!-- End .container -->
		</div><!-- End .page-header -->
		<nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
			<div class="container">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="/">Home</a></li>
					<li class="breadcrumb-item"><a href="/userprofile">Profile</a></li>
					<li class="breadcrumb-item active" aria-current="page">Dashboard</li>
				</ol>
			</div><!-- End .container -->
		</nav><!-- End .breadcrumb-nav -->

		<div class="page-content">
			<div class="dashboard">
				<div class="container">
					<div class="row">
						<aside class="col-md-4 col-lg-3">
							<ul class="nav nav-dashboard flex-column mb-3 mb-md-0" role="tablist">
								<li class="nav-item">
									<a class="nav-link active" href="/userprofile">Dashboard</a>
								</li>
								<li class="nav-item">
									<a class="nav-link " href="/userorder">Orders</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="/userAddress">Adresses</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="/wallet">wallet</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="/useraccount">Account Details</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="/logout">Sign Out</a>
								</li>
							</ul>
						</aside><!-- End .col-lg-3 -->

						<div class="col-md-8 col-lg-9">
							<div class="tab-content">
								<div class="tab-pane fade show active" id="tab-dashboard" role="tabpanel"
									aria-labelledby="tab-dashboard-link">
									<p>
									<h1 class="font-weight-normal text-dark"><%-locals.title-%></h1>
									</p>
									<br>
									From your account dashboard you can view your recent orders, manage your shipping
									and billing addresses, and edit your password and account details.</p>
								</div><!-- .End .tab-pane -->



							</div>
						</div><!-- End .col-lg-9 -->
					</div><!-- End .row -->
				</div><!-- End .container -->
			</div><!-- End .dashboard -->
		</div><!-- End .page-content -->
	</main><!-- End .main -->

	<%-include('../partial/footer')-%>