
<%- include('../adminPartial/header') %>

        <section class="content-main">
            <form onsubmit="validate()" action="/admin/addingproduct" method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col-9">
                    <div class="content-header">
                        <h2 class="content-title">Add New Product</h2>
                      
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="mb-4">
                                <label for="product_title" class="form-label">Product Name</label>
                                <input type="text" placeholder="Type here" class="form-control"  name="productname" id="product_title" required>
                            
                                <div class="card-body">
                                    <div class="row gx-2">
                                        <div class="">
                                            <label class="form-label">Category</label>
                                            <select class="form-select" name="categoryname" required>
                                                <option disabled selected>Select a category</option>
                                            <%category.forEach(function(category){%>
                                                <option> 
                                                <%=category.categoryName%>
                                                </option>
                                            
                                            <%})%>
                                               
                                               
                                            </select>
                                        </div>
    
                                
                                    </div> <!-- row.// -->
                                </div>
                            </div> 
                            <div class="mb-4">
                                <input type="hidden" placeholder="Type here" class="form-control" name="brand"  id="product_brand" value="Ten millions" >
                            </div>
                            <div class="mb-4">
                                <label for="product_quantity" class="form-label">Quantity</label>
                                <input type="number" placeholder="Type here" class="form-control" name="quantity"   id="quantity" required>
                                <label style="display: none;" id="quantity-error"></label>
                            </div>
                            <div class="mb-4">
                                <label for="product_price" class="form-label">Price</label>
                                <input type="number" placeholder="Type here" class="form-control" name="price"   id="price" required>
                                <label style="display: none;" id="price-error"></label>
                            </div>
                        </div>
                    </div> <!-- card end// -->
                    <div class="card mb-4">
                        <div class="card-body">
                            <div>
                                <label class="form-label">Description</label>
                                <textarea placeholder="Type here" class="form-control"  name="description" rows="4" required></textarea>
                            </div>
                        </div>
                    </div> <!-- card end// -->
                    <div class="card mb-4">
                        <div class="card-body">
                            <div>
                                <label class="form-label">Images</label><br>
                                <span> Use this format : .jpg, .jpeg, .png,  .webp  </span>
                                <input class="form-control" name="productimage" type="file" multiple >
                            </div>
                        </div>
                    </div> <!-- card end// -->
                </div>
                
                </div> 
            </div>
            <div>
                <button class="btn btn-light rounded font-sm mr-5 text-body hover-up">Save to draft</button>
                <button  type="submit"  class="btn btn-md rounded font-sm hover-up">Publish</button>
            </div>
            </form>
            
        </section>
       
    </main>
    <script src="assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="assets/js/vendors/select2.min.js"></script>
    <script src="assets/js/vendors/perfect-scrollbar.js"></script>
    <script src="assets/js/vendors/jquery.fullscreen.min.js"></script>
    <!-- Main Script -->
    <script src="assets/js/main.js" type="text/javascript"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.js"></script>
    
    <% if (locals.notice) { %>
        <script>
          Swal.fire({
            icon: 'error',
            title: '<%=notice%>',
            showConfirmButton: false,
            timer: 2000
          });
        </script>
        <% } %> 


        <script>
				
            function validate() {
          var quantity = document.getElementById("quantity").value.trim();
          var quantityFormat = /^\d+$/;

          let quantityError = document.getElementById("quantity-error");
       
          if (!quantity.match(quantityFormat)) {
            quantityError.style.display = '';
            quantityError.textContent = "Enter Valid Pincode!";
            quantityError.style.color = "#ff4d4d";
            return false;
          } else {
            quantityError.style.display = 'none';
          }
        
          return true;

        }
        
        
        </script>

</body>



</html>